<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forkthecode.capstone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.CapstoneProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".ui.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".widget.CapstoneWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/capstone_widget_info" />
        </receiver>

        <service android:name=".widget.CapstoneWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>